<%- include("partials/header") %>
<%- include("partials/navbar") %>
<section id="hero" class="d-flex justify-cntent-center align-items-center mb-5" data-aos="fade-up">
	<div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

	  <!-- Slide 1 -->
	  <div class="carousel-item active">
		<div class="carousel-container" style="overflow: hidden;">
			<h2 class="animate__animated animate__fadeInDown">Welcome to <span>NJoyUrAge</span></h2>
              <p class="animate__animated animate__fadeInUp">At NjoyUrAge we are reimagining aging. Aging is fun. Aging is a rediscovery of yourself. Aging is experiencing the world all over….once again.</p>
              <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
		</div>
	  </div>

	  <!-- Slide 2 -->
	  <div class="carousel-item">
		<div class="carousel-container">
		  <h2 class="animate__animated animate__fadeInDown">NjoyUrAge = Reimagine Aging</h2>
		  <p class="animate__animated animate__fadeInUp">At NjoyUrAge we believe that the 'sunset' years are the best time you have. There are no worries or issues. So relax, and NjoyUrAge</p>
		  <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
		</div>
	  </div>

	  <!-- Slide 3 -->
	  <div class="carousel-item">
		<div class="carousel-container">
		  <h2 class="animate__animated animate__fadeInDown">This belongs to You</h2>
		  <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
		  <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
		</div>
	  </div>

	  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
		<span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
	  </a>

	  <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
		<span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
	  </a>

	</div>
  </section>
  <section class="why-us section-bg aos-init aos-animate mt-5" data-aos="fade-up" date-aos-delay="200">
	<div class="container">

	  <div class="row">
		<div class="col-lg-6 video-box overflow-hidden">
		  <img src="/images/slider-img-4.jpg" class="img-fluid" style="max-width: 120%;" alt="">
		  <a href="https://www.youtube.com/embed/Jc-_jC0raYU?rel=0&amp;autoplay=1&loop=1&mute=0" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
		</div>

		<div class="col-lg-6 d-flex flex-column justify-content-center p-5">

		  <div class="icon-box">
			<div class="icon"><i class='bx bx-fingerprint'></i></div>
			<h4 class="title"><a href="">About Us</a></h4>
			<p class="description">At NjoyUrAge we are reimagining aging. Aging is fun. Aging is a rediscovery of yourself. Aging is experiencing the world all over….once again. Aging is life’s beautiful phase. It is a time to travel. It is time to spend hours with old friends. It is time to find and make new friends. It is time to be alive & lively.</p>
			<blockquote class="blockquote">
				<p>“At NjoyUrAge we believe that the 'sunset' years are the best time you have. There are no worries or issues. So relax, and NjoyUrAge”</p>
			</blockquote>
		  </div>

		</div>
	  </div>

	</div>
  </section>
<section class="container vlogsSection" data-aos="fade-down"
data-aos-easing="linear">
	<div class="row">
		<div class="col-md-12">
			<div style=" max-width: 100%; text-align:center;
    padding: .3rem;
    margin: 3% 0;">
	<center>
		<h2 class="fs-1 text-uppercase border-bottom pb-3">Blogs</h2>
	</center>
	</div>
		</div>
		<div class="col-md-12">
			<section class="swiper-container loading swipe1">
				<div class="swiper-wrapper">
					<% blogs.forEach(function(blog){%>
					<div class="swiper-slide" style="background-image:url(/images/uploads/<%=blog.image%>)"> <img src="/images/uploads/<%=blog.image%>" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7"><%=blog.title%></p> <span class="caption" data-swiper-parallax="-20%"><%-blog.content.slice(0,200)%></span> </div>
					</div>
					<%}) %>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>
				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev swiper-button-black"></div>
				<div class="swiper-button-next swiper-button-black"></div>
			</section>
		</div>
	</div>
</section>
<section class="container blogContainer pt-4 ps-5 pe-5" data-aos="zoom-out-down">
	<center>
		<h2 class="fs-1 text-uppercase border-bottom pb-3" style="max-width: fit-content;">Vlogs</h2>
	</center>
	<div class="row">
		<% vlogs.forEach(function(vlog){ %>		
		<div class="col-md-4">
			<div class="card blogCard">
				<div class="imageBlog">
					<iframe class="vlogVideoHome" src="<%=vlog.link%>?rel=0&amp;autoplay=0&loop=1&mute=0" title="YouTube video" allowfullscreen></iframe>
				</div>
				<div class="blogBody card-body">
					<p class="verticalTextBlog">By NJoyUrAge</p>
					<h3 class="card-title blogTitle"><%=vlog.title%></h3>
					<p class="dateBlog"><%= vlog.time.slice(0,15)%></p>
					<div class="hrDiv"></div>
					<p class="card-text blogText"><%=vlog.content.slice(0,200)%></p> <a href="#">Read Full Article</a> </div>
			</div>
		</div>
		<% }) %> 
	</div>
	<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
	</svg>
</section>
<section class="spacer container" data-aos="flip-left"
data-aos-easing="ease-out-cubic">
	<svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#8a2be2" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#8a2be2" stroke-width="0"></path>
	</svg>
	<h1 style="text-align: center; color: #ffffff">Testmonials</h1>
	<div class="testimonial-section">
		<div class="testi-user-img">
			<div class="swiper-container gallery-thumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide"> <img class="u3" src="https://md-aqil.github.io/images/2091127763_1_1_1.jpg" alt=""> </div>
					<div class="swiper-slide"> <img class="u1" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg" alt=""> </div>
					<div class="swiper-slide"> <img class="u2" src="https://md-aqil.github.io/images/attractive-beautiful-beauty-1986684.jpg" alt=""> </div>
					<div class="swiper-slide"> <img class="u4" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg" alt=""> </div>
				</div>
			</div>
		</div>
		<div class="user-saying">
			<div class="swiper-container testimonial swipe2">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper ">
					<!-- Slides -->
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination swiper-pagination-white"></div>
			</div>
		</div>
	</div>
	<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
	</svg>
</section>
<section id="title" data-aos="flip-right"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
    <svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ff4c68" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ff4c68" stroke-width="0"></path>
	</svg>
<div class="container-fluid cont">
<div class="row">
  <div class="col-lg-6">
    <div>
      <h1 class="h1">Meet new and interesting dogs nearby.</h1>
      <button type="button" class="btn btn-dark btn-lg download-button"><svg class="svg-inline--fa fa-apple fa-w-12" aria-hidden="true" data-prefix="fab" data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 376 512" data-fa-i2svg=""><path fill="currentColor" d="M314.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C59.3 141.2 0 184.8 0 273.5c0 26.2 4.8 53.3 14.4 81.2 12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"></path></svg><!-- <i class="fab fa-apple"></i> --> Downloads</button>
      <button type="button" class="btn btn-outline-light btn-lg download-button"><svg class="svg-inline--fa fa-google-play fa-w-16" aria-hidden="true" data-prefix="fab" data-icon="google-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z"></path></svg><!-- <i class="fab fa-google-play"></i> --> Downloads</button>
    </div>
   </div>
  <div class="col-lg-6">
    <div>
      <img src="/images/iphone6.png" alt="iphone-mockup" class="title-image">
    </div>
  </div>
</div>
</div>
</section>

<%- include("partials/contactForm") %>
<%- include("partials/footerContact") %>
<%- include("partials/footer") %>