<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="container headContainer">
	<div class="row">
		<div class="col-md-12">
			<div class="single-item-rtl">
				<div class="simage1 simage">
					<div class="row">
						<div class="col-md-12">
							<div class="setupM "> </div>
						</div>
					</div>
				</div>
				<div class="simage2 simage">
					<div class="row">
						<div class="col-md-12">
							<div class=" setupM"> </div>
						</div>
					</div>
				</div>
				<div class="simage3 simage">
					<div class="row">
						<div class="col-md-12">
							<div class="setupM "> </div>
						</div>
					</div>
				</div>
				<div class="simage4 simage">
					<div class="row">
						<div class="col-md-12">
							<div class=" setupM"> </div>
						</div>
					</div>
				</div>
				<div class="simage5 simage">
					<div class="row">
						<div class="col-md-12">
							<div class="setupM "> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <svg id="banner_svg1" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M 100 100 V 10 L 0 100"></path>
        <path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
    </svg>
</div>

<div class="container" style="margin: 2% auto;">
	<div style="border-right: 1px solid #b1967b!important; border-bottom: 1px solid #b1967b!important;    max-width: fit-content;
    padding: 1rem;
    margin: 3% 0;">
		<h2 style="font-size: 3rem; text-align:center; text-transform:uppercase">Know about Us</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h6>
				Life Begins at 50+
			</h6>
			<h2>
				Reimagining Ageing
			</h2>
			<p>
				At NjoyUrAge we are reimagining aging. Aging is fun. Aging is a rediscovery of yourself. Aging is experiencing the world all over….once again. Aging is life’s beautiful phase. It is a time to travel. It is time to spend hours with old friends. It is time to find and make new friends. It is time to be alive & lively.
				At NjoyUrAge we are reimagining aging. Aging is fun. Aging is a rediscovery of yourself. Aging is experiencing the world all over….once again. Aging is life’s beautiful phase. It is a time to travel. It is time to spend hours with old friends. It is time to find and make new friends. It is time to be alive & lively.
			</p>
		</div>
		<div class="col-md-6" style="    padding: 5% 0% 0% 10%;">
			<div class="ratio ratio-16x9">
				<iframe src="https://www.youtube.com/embed/Jc-_jC0raYU?rel=0&amp;autoplay=1&loop=1&mute=1" title="YouTube video" allowfullscreen></iframe>
			  </div>
		</div>
	</div>
</div>
<section class="container vlogsSection">
	<div class="row">
		<div class="col-md-12">
			<div style="border-right: 1px solid #b1967b!important; border-bottom: 1px solid #b1967b!important;    max-width: fit-content;
    padding: 1rem;
    margin: 3% 0;">
		<h2 style="font-size: 3rem; text-align:center; text-transform:uppercase">Blogs</h2>
	</div>
		</div>
		<div class="col-md-12">
			<section class="swiper-container loading swipe1">
				<div class="swiper-wrapper">
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/271965.jpg)"> <img src="https://wallpaperaccess.com/full/271965.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Shaun Matthews</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/30100.jpg)"> <img src="https://wallpaperaccess.com/full/30100.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Alexis Berry</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/271963.jpg)"> <img src="https://wallpaperaccess.com/full/271963.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Billie Pierce</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/271968.jpg)"> <img src="https://wallpaperaccess.com/full/271968.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Trevor Copeland</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
					<div class="swiper-slide" style="background-image:url(https://wallpaperaccess.com/full/232550.jpg)"> <img src="https://wallpaperaccess.com/full/232550.jpg" class="entity-img" />
						<div class="content">
							<p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Bernadette Newman</p> <span class="caption" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span> </div>
					</div>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>
				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev swiper-button-black"></div>
				<div class="swiper-button-next swiper-button-black"></div>
			</section>
		</div>
	</div>
</section>
<section class="container blogContainer">
	<svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#5A13F2" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#5A13F2" stroke-width="0"></path>
	</svg>
	<div style="border-right: 1px solid #b1967b!important; border-bottom: 1px solid #b1967b!important;    max-width: fit-content;
    
    margin: 3% 0;margin-left: 10%;padding:1rem">
		<h2 style="font-size: 3rem; text-align:center; text-transform:uppercase">Vlogs</h2>
	</div>
	<div class="row">
		
		<div class="col-md-4">
			<div class="card blogCard">
				<div class="imageBlog">
					<iframe class="vlogVideoHome" src="https://www.youtube.com/embed/Jc-_jC0raYU?rel=0&amp;autoplay=0&loop=1&mute=0" title="YouTube video" allowfullscreen></iframe>
				</div>
				<div class="blogBody card-body">
					<p class="verticalTextBlog">By ELLie</p>
					<h3 class="card-title blogTitle">Card title</h3>
					<p class="dateBlog">12 Nov 2017</p>
					<div class="hrDiv"></div>
					<p class="card-text blogText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p> <a href="#">Read Full Article</a> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card blogCard">
				<div class="imageBlog">
					<iframe class="vlogVideoHome" src="https://www.youtube.com/embed/Jc-_jC0raYU?rel=0&amp;autoplay=0&loop=1&mute=0" title="YouTube video" allowfullscreen></iframe>
				</div>
				<div class="blogBody card-body">
					<p class="verticalTextBlog">By ELLie</p>
					<h3 class="card-title blogTitle">Card title</h3>
					<p class="dateBlog">12 Nov 2017</p>
					<div class="hrDiv"></div>
					<p class="card-text blogText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p> <a href="#">Read Full Article</a> </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card blogCard">
				<div class="imageBlog">
					<iframe class="vlogVideoHome" src="https://www.youtube.com/embed/Jc-_jC0raYU?rel=0&amp;autoplay=0&loop=1&mute=0" title="YouTube video" allowfullscreen></iframe>
				</div>
				<div class="blogBody card-body">
					<p class="verticalTextBlog">By ELLie</p>
					<h3 class="card-title blogTitle">Card title</h3>
					<p class="dateBlog">12 Nov 2017</p>
					<div class="hrDiv"></div>
					<p class="card-text blogText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p> <a href="#">Read Full Article</a> </div>
			</div>
		</div>
	</div>
	<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
	</svg>
</section>
<section class="spacer container">
	<svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#8a2be2" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#8a2be2" stroke-width="0"></path>
	</svg>
	<h1 style="text-align: center; color: #ffffff">Testmonials</h1>
	<div class="testimonial-section">
		<div class="testi-user-img">
			<div class="swiper-container gallery-thumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide"> <img class="u3" src="https://md-aqil.github.io/images/2091127763_1_1_1.jpg" alt=""> </div>
					<div class="swiper-slide"> <img class="u1" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg" alt=""> </div>
					<div class="swiper-slide"> <img class="u2" src="https://md-aqil.github.io/images/attractive-beautiful-beauty-1986684.jpg" alt=""> </div>
					<div class="swiper-slide"> <img class="u4" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg" alt=""> </div>
				</div>
			</div>
		</div>
		<div class="user-saying">
			<div class="swiper-container testimonial swipe2">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper ">
					<!-- Slides -->
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="quote"> <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
							<p> “This is best and biggest unified platform for instant online admission. We can easily take admission for any course in any institute..“ </p>
							<div class="name">-Ramkishor Verma-</div>
							<div class="designation">University Student</div>
						</div>
					</div>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination swiper-pagination-white"></div>
			</div>
		</div>
	</div>
	<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
	</svg>
</section>
<section id="title">
    <svg id="about-header-svg" class="separator__svg" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ff4c68" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 100 100 V 10 L 0 100"></path>
		<path d="M 30 73 L 100 18 V 10 Z" fill="#ff4c68" stroke-width="0"></path>
	</svg>
<div class="container-fluid cont">
<div class="row">
  <div class="col-lg-6">
    <div>
      <h1 class="h1">Meet new and interesting dogs nearby.</h1>
      <button type="button" class="btn btn-dark btn-lg download-button"><svg class="svg-inline--fa fa-apple fa-w-12" aria-hidden="true" data-prefix="fab" data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 376 512" data-fa-i2svg=""><path fill="currentColor" d="M314.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C59.3 141.2 0 184.8 0 273.5c0 26.2 4.8 53.3 14.4 81.2 12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"></path></svg><!-- <i class="fab fa-apple"></i> --> Downloads</button>
      <button type="button" class="btn btn-outline-light btn-lg download-button"><svg class="svg-inline--fa fa-google-play fa-w-16" aria-hidden="true" data-prefix="fab" data-icon="google-play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z"></path></svg><!-- <i class="fab fa-google-play"></i> --> Downloads</button>
    </div>
   </div>
  <div class="col-lg-6">
    <div>
      <img src="/images/iphone6.png" alt="iphone-mockup" class="title-image">
    </div>
  </div>
</div>
</div>
<svg id="banner_svg" class="separator__svg" style="bottom: 0;" width="100%" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path d="M 100 100 V 10 L 0 100"></path>
    <path d="M 30 73 L 100 18 V 10 Z" fill="#ffffff" stroke-width="0"></path>
</svg>
</section>

<%- include("partials/contactForm") %>
<%- include("partials/footerContact") %>
<%- include("partials/footer") %>