<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="container mt-5 pt-5">
    <div class="row">
      <h1 class="fw-bolder">Vlogs</h1>
      <% vlogs.forEach(function(vlog){ %>  
      <div class="col-md-12">
        <div class="card">
          <div class = "row">
            <div class="col-md-6">
              <iframe class="vlogVideoHome" src="<%-vlog.link%>?rel=0&amp;autoplay=0&loop=1&mute=0" title="YouTube video" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h4 class="card-title">
                  <%=vlog.title %>
                </h4>
  
                <p class="card-text"><%- vlog.content%>
                </p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%=vlog.id%>">
                  Watch Now
                </button>
              </div>
            </div>
        </div>
        </div>   
      </div>
          <div class="modal fade" id="<%=vlog.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%=vlog.title%></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row p-3">
                    <div class="col-md-12">
                      <iframe class="vlogVideoHome" src="<%-vlog.link%>?rel=0&amp;autoplay=1&loop=1&mute=0" title="YouTube video" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
       <% })  %> 
    </div>
</div>

<%- include("partials/footer") %>